/* NAVBAR STYLES BELOW */
.navbar {
    background-color: #13c08d;
    border-color: whitesmoke;
}

.nav.navbar-nav li a {
    color: white;
    font-size: 17pt;
}

.navbar-header a.navbar-brand {
    background-color: #555666;
    border-color: whitesmoke;
    color: whitesmoke;
    font-weight: bold;
    font-size: 55pt;
}

.navbar-header a.navbar-brand:hover {
    background-color: #555666;
    color: white;
}

.nav.navbar-nav li.active a {
    background-color: whitesmoke;
    color: black;
}

.body_wrapper.header_area {
padding: 24px;}

/* ===========================================================*/
/* TABLE STYLES BELOW */

table#report_table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#report_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#report_table td, #report_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#report_table tr:nth-child(even) {
    background-color: white;
}

#report_table tr:hover {
    background-color: #ddd;
}

#report_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #13c08d;
    color: white;
}

#report_table {
    font-size: 15pt;
}


/* ===========================================================*/
/* HEADER STYLES BELOW */

#header {
    text-align: center;
    font-size: 44px;
    line-height: 40px;
    margin: 1em 0 .6em 0;
    font-weight: bolder;
    font-family: 'Hammersmith One', sans-serif;
    position: relative;
    color: black;
}


/* ===========================================================*/
/* SEARCH/LOGIN PAGE STYLES BELOW */
img {
    max-height: 250px;
    max-width: 250px;
}

form {
    text-align: center;
}

.flash {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background: #13c08d;
    border: 1px solid #000000;
}

body {
    background-color: whitesmoke;
}


/* ===========================================================*/
/* LOGIN PAGE STYLES BELOW */

.form-signin {
  max-width: 30%;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}