h1 {
    text-align: center;
}

table#databaseresults {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#databaseresults {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#databaseresults td, #databaseresults th {
    border: 1px solid #ddd;
    padding: 8px;
}

#databaseresults tr:nth-child(even) {
    background-color: #f2f2f2;
}

#databaseresults tr:hover {
    background-color: #ddd;
}

#databaseresults th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

