/* Design elements for the search page*/

h1 {
    text-align: center;
    color: #4CAF50;
}

form {
    text-align: center;
}

.flash {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background: #4CAF50;
    padding: 0.25em;
    border: 1px solid #000000;
}
