<!DOCTYPE html>
<!--
	Project Name:Advertisment Recommender System
	Description:Showcases a report for the user after being called by app.py
-->

<html>


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/ars_styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">ARS</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('viewNews') }}">News</a></li>
            <li><a href="{{ url_for('adminReport') }}">Admin Report</a></li>
            <li class="active"><a href="{{ url_for('customerReport') }}">Customer Report</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
        </ul>
    </div>
</nav>

<p id="header">CUSTOMER REPORT</p>

<!--Loops through database and inserts given values into assigned rows of the table-->
<table id="report_table">
    <thead>
    <tr>
        <th>URL</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for row in Reports %}
    <tr>
        <td>{{ row.URL }}</td>
        <td>${{ row.Price }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
</body>
</html>
