<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The News Reporter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.bxslider.css') }}">

    <!--Global site tag for google analytics-->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-19410358-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        };
        gtag('js', new Date());

        gtag('config', 'UA-19410358-6');





    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.bxslider.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/rivetedCombined') }}"></script>
    <script>
        riveted.init();




    </script>


    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/rivetedCombined') }}"></script>-->

    <!--call Riveted functions-->


    <style>
        img {
        float: right;
    }





    </style>

</head>


<body>
<div class="body_wrapper">
    <div class="center">
        <div class="header_area">
            <div class="logo floatleft"><a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}"
                                                         alt=""/></a></div>

        </div>
        <div class="main_menu_area">
            <ul id="nav">
                <li><a href="{{ url_for('viewNews') }}">Home</a></li>
                <li><a href="{{ url_for('viewSports') }}">Sports</a></li>
                <li><a href="{{ url_for('viewWorldNews') }}">World News</a></li>
            </ul>
        </div>
        <h1 class="title">News</h1>
        <h2> POLITICS</h2>
        <section id="politics">
            <h3 id="header">Trump now says he holds Putin responsible for election interference</h3>
            <p><img src="http://i0.kym-cdn.com/photos/images/original/000/326/426/506.jpg" height="200" width="200"></p>
            <p id="article">President Donald Trump said on Wednesday he holds his Russian counterpart Vladimir Putin
                personally responsible for Moscow's attempts to interfere in the 2016 US election.

                Speaking to CBS, Trump said he would consider Putin culpable because he's Russia's leader.
                Sanders disputes that Trump said Russia no longer targeting US
                Sanders disputes that Trump said Russia no longer targeting US
                "I would because he's in charge of the country just like I consider myself to be responsible for things
                that happen in this country," Trump said. "So certainly as the leader of the country you would have to
                hold him responsible."
                Trump's views surrounding election meddling have been repeatedly called into question. As recently as
                this week -- immediately after his one-on-one meeting with Putin -- Trump appeared to believe Putin's
                denial over the US intelligence community's conclusion that Russia interfered in the 2016 election.
                Trump ultimately walked back the answer he gave at the joint news conference in Helsinki, and attributed
                his comments to a simple mistake.

                "In a key sentence in my remarks I said the word 'would' instead of 'wouldn't,'" Trump said on Tuesday.
                He explained he had reviewed a transcript and video of his remarks.
            </p>

        </section>
        <h2> MONEY</h2>
        <section id="money">
            <h3 id="header">This could be the Rolls-Royce of flying taxis</h3>
            <p><img src="http://i0.kym-cdn.com/photos/images/original/000/326/426/506.jpg" height="200" width="200"></p>
            <p id="article">
                The UK aerospace company, which makes the jet engines that power many of the world's commercial
                aircraft, has unveiled a concept hybrid electric vehicle that would carry four or five passengers at
                speeds up to 250 miles per hour.

                With a range of 500 miles, the vehicle would be able to takeoff and land vertically and could be used to
                transport people or cargo. It would be powered by six propellers, including four that would fold into
                the wings at cruise altitude to reduce noise.

                Several other companies, including Uber, Airbus (EADSF) and a startup backed by Google (GOOGL) cofounder
                Larry Page, are racing to commercialize flying taxis. Rolls-Royce said its vehicle could be available by
                the early 2020s.

                Rolls-Royce Motor Cars, a separate company owned by German car manufacturer BMW (BMWYY), is not involved
                in the project.

                rolls-royce taxi
                A taxi version of the Rolls-Royce concept vehicle.
                Rolls-Royce (RYCEF) is seeking partners to work on its vehicle, which would rely on batteries powered by
                gas turbines. The first version would require a pilot, the company said, adding the vehicle could have
                personal, commercial passenger, cargo and military applications.

                "Electrification is an exciting and inescapable trend across industrial technology markets and while the
                move to more electric propulsion will be gradual for us, it will ultimately be a revolution," said
                Rolls-Royce executive Rob Watson.

                Rolls-Royce may have an edge over the competition when it comes to vertical takeoff. It designed the
                engines used on two military aircraft that can do that: The Harrier Jump Jet and the V-22 Osprey.

            </p>


        </section>

        </section>
        <h2> HEALTH</h2>
        <section id="health">
            <h3 id="header">Liver cancer death rate in US surged 43% in 16 years</h3>
            <p><img src="http://i0.kym-cdn.com/photos/images/original/000/326/426/506.jpg" height="200" width="200"></p>
            <p id="article">Death rates from liver cancer increased 43% for American adults from 2000 to 2016, according
                to a report released Tuesday by the US Centers for Disease Control and Prevention's National Center for
                Health Statistics. The increase comes even as mortality for all cancers combined has declined.

                Liver cancer death rates increased for both men and women 25 and older, as well as white, black and
                Hispanic people. Only Asians and Pacific Islanders saw a decrease in mortality from liver cancer.
                HPV test more effective than Pap smear in cancer screening, study suggests
                HPV test more effective than Pap smear in cancer screening, study suggests
                The rise in mortality doesn't mean that liver cancer is deadlier than before, according to Dr. Jiaquan
                Xu, the author of the report; the 10-year survival rate for liver cancer didn't change much. Rather, the
                increase in mortality means more people are developing liver cancer.
                More than 70% of liver cancers are caused by underlying liver disease, which has risk factors such as
                obesity, smoking, excess alcohol consumption, and hepatitis B and C infection, said Dr. Farhad Islami,
                the scientific director of cancer surveillance research at the American Cancer Society.
                "I think the main reason for the increase in liver cancer incidence and death rate in the US is the
                increase in the prevalence of excess body weight and hepatitis C virus infection in baby boomers," said
                Islami, who authored a study on liver cancer occurrence between 1990 and 2014.
                New hepatitis C infections triple due to opioid epidemic
                New hepatitis C infections triple due to opioid epidemic
                Up until 1992, blood transfusions and organ transplants were not screened for hepatitis C, Xu said.
                According to the CDC, this was once a common means of hepatitis C transmission.
            </p>

        </section>


    </div>
    <div id="validators">  <!-- You could keep inside the overallContent div -->
        <a href="{{ url_for('index') }}"><img
                src="https://cdn.arstechnica.net/wp-content/themes/arstechnica/assets/images/ars-logo-open-grey.png"
                alt="Valid HTML5"/></a> <br/>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/selectnav.min.js') }}"></script>
    <script type="text/javascript">
        selectnav('nav', {
            label: '-Navigation-',
            nested: true,
            indent: '-'
        });
        selectnav('f_menu', {
            label: '-Navigation-',
            nested: true,
            indent: '-'
        });
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: true
        });


    </script>

</div>
</body>
<style>
    #validators {
        position: fixed;
        left: 20px;
        top: 20px;
        height: 100px;
        width: 100px;
    }






</style>
</html>