<!DOCTYPE html>
<!--
	Project Name:Advertisment Recommender System
	Description:Showcases a report for the user after being called by app.py
-->

<html>


	<head>
		<link rel="stylesheet" a href="../static/css/report_design.css"></a>
		<script type="text/javascript" a src="../static/js/Search.js"></a></script>
	</head>
	
	<body>
	
		<h1> Recommended Advertisement Spaces </h1>
		
		<!--Search bar for search javascript. Is not fully implemented with newly created table.-->
		<input type="text" id="myInput" onkeyup="keywordSearch()" placeholder="Search for keywords..">
		
			<!--Loops through database and inserts given values into assigned rows of the table-->
			<table id="databaseresults">
				<thead>
					<tr>
						<th>URL</th>
						<th>Rank</th>
						<th>ActiveRatio</th>
						<th>FocusRatio</th>
						<th>Locations</th>
					</tr>
				</thead>
				<tbody>
					{% for row in Reports %}
				<tr>
					<td>{{row.URL}}</td>
					<td>{{row.Rank}}</td>
					<td>{{row.ActiveRatio}}</td>
					<td>{{row.FocusRatio}}</td>
					<td>{{row.Locations}}</td>
				</tr>
					{% endfor %}
				</tbody>
			</table>
	</body>
</html>