<!DOCTYPE html>
<!--
	Project Name:Advertisment Recommender System
	Description:Showcases a report for the user.
-->

<html>


	<head>
		<link rel="stylesheet" a href="../static/css/report_design.css"></a>
		<script type="text/javascript" a src="../static/js/Search.js"></a></script>
	</head>
	
	<body>
	
		<h1> Reccommended Advertisement Spaces </h1>
		
		<input type="text" id="myInput" onkeyup="keywordSearch()" placeholder="Search for keywords..">

		<table id="databaseResults">
			<tr>
				<th>Ad Space</th>
				<th>Price</th>
				<th>Keywords</th>
			</tr>
			
			<tr>
				<td>Middle of the page</td>
				<td>$150</td>
				<td> Dogs, Cats, Dolphins, Hoops </td>
			</tr>
			
			<tr>
				<td>Adoption Page Sidebar</td>
				<td>$50</td>
				<td> Dogs, Cats, Dolphins, Squirrels </td>
			</tr>
			
			<tr>
				<td>Headliner</td>
				<td>$300</td>
				<td> Llama </td>
			</tr>
			
			<tr>
				<td>Bottom of the page</td>
				<td>$90</td>
				<td> Pizza, Recipes, Oscars </td>
			</tr>
			
			<tr>
				<td>Sports page headliner</td>
				<td>$550</td>
				<td> Football, Signing, Drafts,2018 </td>
			</tr>
				
				
			</table>
	</body>
	
	
</html>
