{% block body %}


    <head>
        <link rel="stylesheet" a href="../static/css/search_design.css">
        </a>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Advertisment Recommender System</title>
    </head>

    <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ARS NAVIGATION</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">HOME</a></li>
                <li><a href="{{ url_for('viewNews') }}">NEWS</a></li>
                <li><a href="{{ url_for('adminReport') }}">ADMIN REPORT</a></li>
                <li><a href="{{ url_for('customerReport') }}">CUSTOMER REPORT</a></li>
                <li class="active"><a href="{{ url_for('search') }}">SEARCH</a></li>
            </ul>
        </div>
    </nav>


    <h1>Search by Keyword</h1>

    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}

    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.search) }}
        </dl>
        <p><input type=submit value=Search>
    </form>
    </body>
{% endblock %}
			
