<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The News Reporter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.bxslider.css') }}">

    <!--Global site tag for google analytics-->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-19410358-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        };
        gtag('js', new Date());

        gtag('config', 'UA-19410358-6');


    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.bxslider.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/riveted.js') }}"></script>

    <!--call Riveted function-->
    <script>
        riveted.init();


    </script>
</head>


<body>
<div class="body_wrapper">
    <div class="center">
        <div class="header_area">
            <div class="logo floatleft"><a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}"
                                                         alt=""/></a></div>

        </div>
        <div class="main_menu_area">
            <ul id="nav">
                <li><a href="{{ url_for('viewNews') }}">Home</a></li>
                <li><a href="{{ url_for('viewSports') }}">Sports</a></li>
                <li><a href="{{ url_for('viewWorldNews') }}">World News</a></li>
            </ul>
        </div>
        <h2 class="title">Sports News</h2>
        <h3 id="header">Tiger Woods is back</h3>
        <p id="article">>I don't mean that in the sense that it's hard to watch him, at 42 years old, try to recapture
            the glories of his astonishing,
            but now distant, prime. Quite the contrary. Yes, watching and writing about Tiger at his peak was a thrill.
            But I've grown to
            believe watching Tiger wrestle with time, seeing him relearning the rhythms of his body as he attempts to
            summon one last run at
            Jack Nicklaus' majors record, has a chance to be the most enjoyable era of his career. You might disagree --
            because who in their
            right mind wouldn't prefer to have the 2000 Tiger or 2006 Tiger back? -- but consider this: Tiger was never
            meant to play the
            underdog. He has always been golf's Goliath, a dominant force who didn't beat other players; he steamrolled
            them. It was
            awe-inspiring, but, at the height of his powers, it sometimes felt like rooting for a corporation. Yet, here
            we are, the week of
            the 2018 Masters, with a healthy Tiger having a realistic chance to chase an unexpected, improbable finish.
            When I say it's hard
            to watch him play, I mean it literally. You have to push and elbow your way through a gallery that feels
            more like a crowded street
            bazaar. You have to crane your neck and invade someone's personal space just to get a glimpse of him on the
            tee as he mulls whether
            to hit driver or 3-wood. Often, right when you finally get a sliver of daylight and an unobstructed view, a
            person near you will
            thrust their cellphone into your line of sight, camera rolling, because he or she is desperate to take home
            a pixelated souvenir.
            This phenomenon isn't limited to a particular demographic. People of all ages, races, tax brackets, and
            parts of the country are
            back by his side, and most of them cannot resist shouting encouragement to a man who almost never
            acknowledges it. Spend a day
            following Tiger around and you can't help but notice that one word pops up over and over again. Frat boys,
            socialites, finance bros,
            lawyers, hippies, soccer moms, biker dudes and little kids all shout out some version of it as he strolls
            by, in a way that feels
            like a mixture of reassurance and longing.
        </p>
    </div>
    <div id="validators">  <!-- You could keep inside the overallContent div -->
        <a href="{{ url_for('index') }}"><img
                src="https://cdn.arstechnica.net/wp-content/themes/arstechnica/assets/images/ars-logo-open-grey.png"
                alt="Valid HTML5"/></a> <br/>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/selectnav.min.js') }}"></script>
    <script type="text/javascript">
        selectnav('nav', {
            label: '-Navigation-',
            nested: true,
            indent: '-'
        });
        selectnav('f_menu', {
            label: '-Navigation-',
            nested: true,
            indent: '-'
        });
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: true
        });





    </script>
</body>
<style>
    #validators {
        position: fixed;
        left: 20px;
        top: 20px;
        height: 100px;
        width: 100px;
    }






</style>
</html>